body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #139187;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.navbar {
    background: #e6dfdf;
    color: rgb(10, 3, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
}

.logo {
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: rgb(48, 51, 231);
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #00adb5;
}

.project-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.contact-form
{
max-width: 500px;
margin:auto;
}
.contact-form input, .contact-form textarea
{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;

}

.contact-form button
{
    background: #00adb5;
    padding: 12px;
    border: none;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    border-radius:5px;


}

section {
    padding: 40px 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}

h2 {
    color: #222;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
}

.projects {
    background: #f9f9f9;
    padding: 15px;
    margin: 10px 0;
    border-left: 4px solid #222;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}
